#level-1.garden {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level-2.garden {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#level-2.garden .peas {
  grid-column: 1 / span 2;
}
